/* line 17, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/gem/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'sourceSansLight';
  src: url("../fonts/sourcesanspro-el.eot");
  src: url("../fonts/sourcesanspro-el.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-el.woff2") format("woff2"), url("../fonts/sourcesanspro-el.woff") format("woff"), url("../fonts/sourcesanspro-el.ttf") format("truetype"), url("../fonts/sourcesanspro-el.svg#source_sans_proextralight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sourceSansReg';
  src: url("../fonts/sourcesanspro-reg.eot");
  src: url("../fonts/sourcesanspro-reg.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-reg.woff2") format("woff2"), url("../fonts/sourcesanspro-reg.woff") format("woff"), url("../fonts/sourcesanspro-reg.ttf") format("truetype"), url("../fonts/sourcesanspro-reg.svg#source_sans_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons.woff") format("woff"), url("../fonts/icons.ttf") format("truetype"), url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 34, ../sass/_fonts.scss */
[data-icon]:before {
  font-family: "icons";
  content: attr(data-icon);
  speak: none;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 1, ../sass/_main.scss */
body {
  font: normal 1em/1.6em "sourceSansLight" Helvetica, Arial;
  color: #918f85;
  background: #dbdad8;
}

/* line 6, ../sass/_main.scss */
h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "sourceSansReg" Helvetica, Arial;
}

/* line 9, ../sass/_main.scss */
p {
  margin: 1.2rem 0;
}
/* line 12, ../sass/_main.scss */
p a, p a:visited {
  color: #ae1212;
  text-decoration: none;
}
/* line 17, ../sass/_main.scss */
p a:hover {
  background: #d1d0cd;
}

/* line 21, ../sass/_main.scss */
section {
  position: relative;
  padding: 0 20px;
  margin: 20px auto;
  width: auto;
  max-width: 800px;
  min-height: 500px;
}

/* line 29, ../sass/_main.scss */
.main {
  font-family: "sourceSansReg" Helvetica, Arial;
  font-size: 5em;
  line-height: 1.2em;
  letter-spacing: -0.07em;
  color: #b8b6af;
}

/* line 36, ../sass/_main.scss */
.me {
  position: absolute;
  top: 40px;
  right: 0;
  width: 300px;
}

/* line 42, ../sass/_main.scss */
.content {
  margin: 0;
}

/* line 46, ../sass/_main.scss */
nav {
  height: auto;
  overflow: hidden;
  margin-bottom: 10px;
}
/* line 51, ../sass/_main.scss */
nav a, nav a:visited {
  display: block;
  float: left;
  margin: 5px;
  padding: 20px;
  width: 96px;
  height: 96px;
  line-height: 96px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "sourceSansReg" Helvetica, Arial;
  color: #ae1212;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 5px #b8b6af solid;
}
/* line 68, ../sass/_main.scss */
nav a:before, nav a:visited:before {
  position: absolute;
  text-align: center;
  font-size: 80px;
  color: rgba(184, 182, 175, 0.1);
}
/* line 74, ../sass/_main.scss */
nav a:nth-child(3n+1), nav a:visited:nth-child(3n+1) {
  margin-left: 0;
}
/* line 77, ../sass/_main.scss */
nav a:nth-child(3n+3), nav a:visited:nth-child(3n+3) {
  margin-right: 0;
}
/* line 80, ../sass/_main.scss */
nav a:hover, nav a:visited:hover {
  background: #e0dfdd;
}
/* line 83, ../sass/_main.scss */
nav a.selected, nav a:visited.selected {
  background: #cccbc8;
}
/* line 86, ../sass/_main.scss */
nav a.selected:hover, nav a:visited.selected:hover {
  background: #dbdad8;
}

/* line 92, ../sass/_main.scss */
footer {
  margin-top: 60px;
  padding: 40px;
  text-align: right;
  border-top: 5px #b8b6af solid;
}

/* line 2, ../sass/_projects.scss */
.projects .project {
  padding: 18px;
  margin: 20px 0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 5px #b8b6af solid;
  background: #d6d5d3;
}
/* line 9, ../sass/_projects.scss */
.projects .title {
  font-size: 2em;
  color: #ae1212;
  font-family: "sourceSansReg" Helvetica, Arial;
}
/* line 14, ../sass/_projects.scss */
.projects .links {
  height: auto;
  overflow: hidden;
  font-size: 1.2em;
}
/* line 19, ../sass/_projects.scss */
.projects .links li {
  float: left;
  margin: 0 10px 0 0;
}
/* line 23, ../sass/_projects.scss */
.projects .links a, .projects .links a:visited {
  display: block;
  padding: 0 10px;
  line-height: 22px;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  color: #918f85;
  background: #e0dfdd;
}
/* line 32, ../sass/_projects.scss */
.projects .links a:before, .projects .links a:visited:before {
  margin-right: 10px;
  line-height: 22px;
}
/* line 36, ../sass/_projects.scss */
.projects .links a:hover, .projects .links a:visited:hover {
  background: #dbdad8;
}
