.projects{
    .project{
        padding: 18px;
        margin: 20px 0;
        @include border-radius(8px);
        border: 5px $color-heading solid;
        background: darken($color-background, 2%);

        &:before{
            position: absolute;
            font-size: 80px;
            right: 40px;
            color: rgba($color-highlight, 0.1);
        }
        a, a:visited{
            text-decoration: none;
            color: inherit;
        }
    }
    .title{
        font-size: 2em;
        color: $color-highlight;
        font-family: $font-bold;
    }
    .links{
        height: auto;
        overflow: hidden;
        font-size: 1.2em;

        li{
            float: left;
            margin: 0 10px 0 0;
        }
        a, a:visited{
            display: block;
            padding: 0 10px;
            line-height: 22px;
            text-decoration: none;
            @include border-radius(4px);
            color: $color-font;
            background: lighten($color-background, 2%);

            &:before{
                margin-right: 10px;
                line-height: 22px;
            }
            &:hover{
                background: $color-background;
            }
        }
    }
}


@media #{$screen-600} {

}

@media #{$screen-450} {
    .projects{
        .links{
            a, a:visited{
                line-height: 40px;
            }
        }
    }
}

@media #{$screen-300} {

}