
$font-regular:          'sourceSansLight', Helvetica, Arial;
$font-bold:             'sourceSansReg', Helvetica, Arial;
$font-icon:             'icons';

$color-background:      #dbdad8;
$color-font:            #7e7c6f;
$color-heading:         lighten(#6d6b61, 30%);

$color-highlight:       #ae1212;
