
$font-regular:          'sourceSansLight', Helvetica, Arial;
$font-bold:             'sourceSansReg', Helvetica, Arial;
$font-icon:             'icons';

//$color-background:      lighten(#dbdad8, 10%);
$color-background:      #111;
//$color-font:            #7e7c6f;
$color-font:            #999;
//$color-heading:         lighten(#6d6b61, 40%);
$color-heading:         #222;
//$color-highlight:       #ae1212;
$color-highlight:       orange;


$screen-600:            'screen and (max-width: 600px), screen and (max-device-width: 600px)';
$screen-450:            'screen and (max-width: 450px), screen and (max-device-width: 450px)';
$screen-300:            'screen and (max-width: 300px), screen and (max-device-width: 300px)';
