// compass libs
@import "compass/css3";
@import "compass/utilities";




body{
    font: normal 0.8em/2em Helvetica, Arial;
    color: #929490;
    background: #e1e5de;
}
section{
    position: relative;
    margin: 40px auto;
    max-width: 800px;
    min-height: 500px;
    //background: #ebeee8;
}
.main{
    font-size: 5em;
    line-height: .75em;
    letter-spacing: -0.1em;
}
.me{
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;

    min-height: 800px;
}
.content{
    margin: 0 340px 0 0;
}
nav{
    height: auto;
    overflow: hidden;

    a, a:visited{
        display: block;
        float: left;
        margin: 5px;
        padding: 20px;
        width: 96px;
        height: 96px;
        font-size: 2em;
        line-height: .75em;
        text-decoration: none;
        color: green;
        border: 5px #ebeee8 solid;

        &:nth-child(3n+1) {
            margin-left: 0;
        }
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &.selected{
            background: #ced2cb;
        }
    }
}