@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
.game {
    position: relative;
    margin: 40px auto 0;
    padding: 40px;
    width: 420px;
    height: 420px;
    border: 2px #ccc solid;
    border-radius: 50%;
}
.game.tricky{
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
}
.board{
    width: 406px;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
.board.narrow{
    width: 174px;
}
.board li{
    position: relative;
    float: left;
    margin: 4px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.board li:before{
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    border: 2px #ccc solid;
    content: '';
}
.board li:hover:before{
    border-color: #aaa;
}
.board li:after{
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px #1874a4 solid;
    background: #2195d1;
    box-shadow: 0 -3px 2px -1px #1b729f inset, 0 1px 5px #7ecbf3 inset;
    content: '';
}
.board li.empty:after{
    display: none;
}
.board li.selected:after{
    background: #ae1212;
    box-shadow: 0 1px 5px pink inset;
}