*{
    margin: 0;
    padding: 0;
}
body{
    font: normal 1em/2em Arial;
    background: #b1b9a5;
}
.board{
    display: block;
    margin: 0 auto 50px;
    width: 400px;
    height: 300px;
    border: 10px #363b37 solid;
}
.score{
    margin: 20px auto;
    width: 400px;
    height: auto;
    overflow: auto;
    list-style: none;
}
.score li{
    float: left;
    width: 50%;
}
.score .gameScore{
    text-align: right;
}