*{
    margin: 0;
    padding: 0;
}
body{
    font: normal normal 1em/1.2em Arial;
}
button{
    margin: 8px 0;
    padding: 0 14px;
    line-height: 24px;
}
/* scores */
.scores{
    margin: 20px auto;
    width: 300px;
    height: auto;
    overflow: hidden;
}
.scores li{
    float: left;
    width: 33.33%;
    list-style: none;
    text-align: center;
}
.scores label{
    display: block;
    font-weight: 700;
}
/* board */
.tictactoe{
    margin: 0 auto;
    width: 300px;
    height: 300px;
    list-style: none;
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid;
}
.tictactoe li{
    position: relative;
    float: left;
    width: 99px;
    height: 99px;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
}
.tictactoe .nought:before,
.tictactoe .nought:after,
.tictactoe .cross:before,
.tictactoe .cross:after{
    position: absolute;
    background: #ae1212;
    content: '';
}
.tictactoe .nought:before{
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.tictactoe .nought:after{
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}
.tictactoe .cross:before{
    left: 44px;
    top: 20px;
    width: 10px;
    height: 60px;
    transform: rotate(45deg);
}
.tictactoe .cross:after{
    left: 44px;
    top: 20px;
    width: 10px;
    height: 60px;
    transform: rotate(-45deg);
}
/* game over message */
.message{
    margin: 10px auto;
    width: 300px;
    text-align: center;
}