*{
    margin: 0;
    padding: 0;
}
body{
    font: normal normal 1.2em/1em Arial;
}
button{
    margin: 8px 0;
    padding: 0 14px;
    line-height: 24px;
}
.tictactoe{
    margin: 50px auto;
    width: 300px;
    height: 300px;
    list-style: none;
    border-top: 1px #ccc solid;
    border-right: 1px #ccc solid;
}
.tictactoe li{
    position: relative;
    float: left;
    width: 99px;
    height: 99px;
    border-bottom: 1px #ccc solid;
    border-left: 1px #ccc solid;
}
.tictactoe .nought:before,
.tictactoe .nought:after,
.tictactoe .cross:before,
.tictactoe .cross:after{
    position: absolute;
    background: #ae1212;
    content: '';
}
.tictactoe .nought:before{
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.tictactoe .nought:after{
    top: 30px;
    left: 30px;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
}
.tictactoe .cross:before{
    left: 44px;
    top: 20px;
    width: 10px;
    height: 60px;
    transform: rotate(45deg);
}
.tictactoe .cross:after{
    left: 44px;
    top: 20px;
    width: 10px;
    height: 60px;
    transform: rotate(-45deg);
}
.score{
    margin: 10px auto;
    width: 300px;
    text-align: center;
}